@font-face {
    font-family: caviarNormal;
    src: url(./fuentes/CaviarDreams.ttf) format("opentype");
}
@font-face {
    font-family: caviarBold;
    src: url(./fuentes/CaviarDreams_Bold.ttf) format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('http://fonts.cdnfonts.com/css/arial?styles=48878');

/*
Variables Globales 
*/
:root{
    --caviarNormal:'caviarNormal',sans-serif;
    --caviarBold:'caviarBold',sans-serif;
    --latoRegular: 'Lato', sans-serif;;
    --naranja:#FD9019;
    --grisClaro:#767676;
    --grisObscuro:#2E2E2E;
    --grisBienClaro:#0000001f;
    --arialRegular: 'Arial', sans-serif;
}
body {
    font-weight: 300;
    font-size: 1vw;
    line-height: 1.7;
    min-height: 207vw;
    font-family: var(--caviarNormal);
    color: white;
    margin: 0px;
}
p{
    margin:0px;
}